<div class="jumbotron text-center">
  <h1>Licence Centre</h1>
  <p class="lead">Welcom to the Licence Centre</p>
  <br />
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-info" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express backend</h3>
    <p>
      A rock solid Node.jsA rock solid Node.jsA rock solid Node.jsA rock solid
      Node.jsA rock solid Node.jsA rock solid Node.jsA rock solid Node.js
    </p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>
      A rock solid Node.jsA rock solid Node.jsA rock solid Node.jsA rock solid
      Node.jsA rock solid Node.jsA rock solid Node.jsA rock solid Node.js
    </p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>
      A rock solid Node.jsA rock solid Node.jsA rock solid Node.jsA rock solid
      Node.jsA rock solid Node.jsA rock solid Node.jsA rock solid Node.js
    </p>
  </div>
</div>

<!-- <footer id="main-footer">
  Copyright &copy; 2019 - GeoSLAM Ltd. (Avgitidis S. Ektoras)
</footer> -->
